body {
  font-family: Helvetica, 微軟正黑體, Verdana, Arial, sans-serif, 細明體_HKSCS-ExtB, "Ming(for ISO10646)ExtB";
  font-size: 16px;
  padding: 10px;
}

label {
  user-select: none;
}

input,
select {
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

input.button {
  padding: 0.5em 1em;
  margin-right: 0;
  background: #eee;
  border-radius: 5px;
  border: 2px solid #6a6e9c;
  cursor: pointer;
}

input[disabled] {
  opacity: 0.6;
  cursor: default;
}

.title {
  margin: 0;
  font-family: monospace;
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
}

.wrapper {
  margin: 13px 0;
  white-space: nowrap;
}

.wrapper label {
  display: inline-block;
  width: 4.5em;
}

.submit-wrapper {
  text-align: center;
  margin: 2px 0 10px 0;
}

hr {
  margin-top: 15px;
}

#dp-min,
#dp-max {
  width: 43px;
}
